@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  background: blue;
  font-family: 'Raleway', sans-serif;

}

.content{
  margin: 40px;
  background: white;
  height: 100vh;
  padding: 20px;
}
